<div id="container">
	<h1>Variables d'environnement</h1>
	<h2>SAML_IDP_CONFIG :</h1>
	<pre>
    <code>{{env.idp}}</code>
  </pre>
  <h2>SAML_SP_CONFIG :</h1>
  <pre>
    <code>{{env.sp}}</code>
  </pre>
  <div class="col-md-12 text-right">
    <form action="/" method="get">
      <button id="btn-return" class="btn btn-primary input-xlarge" type="submit"><i class="fa fa-home"><span>Home</span></i></button>
    </form>
  </div>
</div>

